.icon_heart:hover i.fa-heart {
display: none;
}
.icon_heart:hover i.fas.fa-heart {
display: block;
}
.icon_heart {
display: flex;
justify-content: flex-end;
font-size: 2rem;
margin: 1.2rem 0 2rem 7rem;
}
/ icon heart palette /
.icon_heart_start:hover i.fa-heart {
display: none;
}
.icon_heart_start:hover i.fas.fa-heart {
display: block;
}
.icon_heart_start {
display: flex;
justify-content: flex-end;
font-size: 2rem;
margin-top: -2rem;
}
/ icon_heart 3 /
.icon_heart_3:hover i.fa-heart {
display: none;
}
.icon_heart_3:hover i.fas.fa-heart {
display: block;
}
.icon_heart_3 {
display: flex;
justify-content: flex-end;
font-size: 2rem;
margin: 1.2rem 0 2rem 9rem;
}

i.fa-heart:hover {
cursor: pointer;
border: 0 solid transparent;
}
i.fas.fa-heart {
display: none;
background: linear-gradient(to bottom, #9356dc, #ff79da);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
font-size: 2rem;
}